body {
  background-color: #dde2e7;
  font-family: Arial, sans-serif;
}

.container-fluid.bg-primary {
  background-color: #979af4;
  color: #fff;
  padding: 10px;
  display: flex;
 align-items: center;
  justify-self: center;
  border: hidden;
}

.container-fluid.bg-light {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
  border: hidden;
}

.blues, .nav-item button{
  background-color: rgb(13, 13, 150);

}
.nav-item button{
  border-radius: 4px;
  height: fit-content;
  width: auto;
  border: hidden;
}

.navbar {
  padding: 0 20px;
}
/* 
.navbar img {
  height: 40px;
} */

.navbar-toggler {
  border: none;
}

.navbar-nav .nav-link,.more a{
  color: #0a0101;
}
.navbar-nav .nav-link:hover {
  color: #004085;
}

.navbar-nav .dropdown-menu a {
  color: #004085;
}

.navbar-nav .dropdown-menu a:hover {
  color: #004085;
}

.container.text-center.my-5 {
  padding: 50px 0;
}

.make p{
  font-weight: 700;
}

.make span{
  color: #222020;
  font-weight: 400;
}
.origin{
  background-color: #fff;
  color: #0a0101;
}
.url_item{
  background-color: #fff;
  color: black;
}
.container.text-center.my-5 p {
  margin-bottom: 20px;
}
 .connect{
  color:#202020;
  font-weight: 700;
 }

 .long p{
  color: #0c0000;
  font-weight: 500;
 }

 .loved{
    font-weight: 700;
 }


.iconsdown,.nav-item i{
  color: blue;
}
.action {
  margin-top: 20px;
}

.action input[type="text"] {
  width: calc(100% - 130px);
  border-radius: 20px 0 0 20px;
}

.action button {
  border-radius: 0 20px 20px 0;
}

.record {
  max-width: 60%;
  margin: auto;
  font-size: 14px;
  padding-top: 20px;
}
.delete_btn,.copy_btn{
  background-color: blue;
  color: #fff;
  border: hidden;
  height: 30px;
  border-radius: 4px;
}
  

.url_item{
  background-color:#fff(249, 253, 253);
  width: fit-content;
  border-radius: 4px;
  box-shadow: #f0e6e6 1px 1px 1px;
  border: hidden;
  text-align: center;
  justify-content: center;
}
.plan {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.plan p {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
}

.free span{
  font-weight:600;

}

.plan i,.list-group-flush i{
  color: rgb(63, 84, 179);
}




 .custom-container{
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
  border: hidden;
  width: 100%;

  
 }

 .platform p{
  font-weight: 900;
  color: #242323;
  font-size: 12px;
 }

.lines a,.copy_btn a {
  text-decoration: none;
}


.lines a:hover {
  text-decoration: none; 
  color: #080446; 
}


.card-body{
  background-color: #fff;
  border: #202020;
  box-shadow: #272727 1px 0px 1px 0px;
  border: hidden;
  border-radius: 4px;
  line-height: 30px;
  height: 500px;
  font-size: 15px;
  color: #202020;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;

}

.numbers li{
  font-weight:  900 ;
  font-size: 20px;
}

.list-group-item {
  font-weight: 20px;
  font-size: 15px;
}

 .images img{
  height: 100px;
 }


.small-blue img{
  max-width: 90%;
  height: fit-content;
  background-color: #0e076b;
}

.social {
  font-size: 15px;
  font-weight: 400;

}


.navbar img,
.container-fluid.d-flex.bg-white.border-light.glober img {
  max-width: 100%;
  height: auto;
}

.arts{
  display:none;
}


.testimonial {
  display: none;
}
.active {
  display: block;
}


.scale{
  margin-top: 10em;
}


.dark-container {
  background-color: rgb(15, 44, 77);
  width: 100%; 
  height: 200px;
  color: #fff; 
   justify-content: center;
  /* margin-top: 20em; */
   text-align: center;

}

.earth img{
  height: 100px;
}

.footer {
  background-color: #fff; 
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: #0a0101 1px 1px 1px;
  border: 0;

}

.footer ul {
  list-style: none;
  padding: 20px;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul li a {
  color: #333; /* Link color */
  text-decoration: none;
  padding: 10px;
}

.footer ul li a:hover {
  color: #000; /* Hover color */
}

.footer .social img {
  max-width: 40px;
  margin-bottom: 5px;
  padding: 10px;
}

.footer .social li {
  display: inline-block;
  margin-right: 10px;
}

.last li{
  font-weight:  500 ;
  font-size: 15px;
}

.number span{
  font-weight:  700 ;
  font-size: 15px;
}

/* media */
@media (max-width: 576px) and (min-width:400px) {
  .navbar-nav {
      text-align: center;
      padding-top: 10px;
  }

  .navbar-nav .nav-item {
      padding: 10px 0;
  }

  .navbar-nav .dropdown-menu {
      position: static;
      background-color: transparent;
      border: none;
  }

  .navbar-nav .dropdown-menu a {
      display: block;
      padding: 10px 0;
  }

  .action {
      flex-direction: column;
      align-items: center;
  }

  .action input[type="text"] {
      width: 100%;
      border-radius: 20px;
      margin-bottom: 10px;
  }

  .action button {
      width: 100%;
      border-radius: 20px;
  }

  .record {
      max-width: 100%;
  }

  .brands{
    display: none;
  }
  
}
